*{
 margin: 0;
 background-color: #62CDFF;
    background-repeat: no-repeat;
    background: linear-gradient(0deg, rgba(52,175,179,0.7987570028011204) 0%, 95%);
}
.container{
    font-family: 'Roboto Slab', serif;
    text-align: center;
    position: absolute;
    left: 10%;
    top: 20%;
}
.table{
    line-height: 2.5rem;
}
.quali-bird{
    width: auto;
    position: absolute;
    transition: left 5s;
    left: 0%; 
    top: 0%; 
}
.quali-bird:hover{ 
    left:100%;
}
.top-cloud{
    position: absolute;
    right: -3%;
    top: -6%;
    float: right;
    height: 100px;
    width: 100px;
    
}
h2{
    line-height: 4rem;
    font-family: 'Arial Narrow', Arial, sans-serif;
    line-height: 3rem;
    display: block;
    text-align: center;
}
.hobbies{
    line-height: 2rem;
   margin-bottom: 1.5rem;
   text-align: center;
   margin-left: 2.5rem;
}
ul{
    list-style: none;
    line-height: 1rem
}
 
